[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
ipython = "*"
jupyterlab = "*"
praatio = "*"
librosa = "*"
pysoundfile = "*"
numpy = "*"
tqdm = "*"
ipywidgets = "*"
praat-parselmouth = "*"
cython = "*"
lark-parser = "*"
nltk = "*"
pandas = "*"

[pipenv]
allow_prereleases = true
