[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
ipython = "*"
jupyterlab = "*"

[packages]
praatio = "*"
pandas = "*"
librosa = "*"
pysoundfile = "*"
numpy = "*"
508ac32 = {editable = true,path = "./vendor/cochlea"}
vae-seq = {editable = true,path = "./vendor/vae-seq"}

[requires]
python_version = "3.6"
